/* from CBSM / Home of KaiRo (with modifications) */

html {
 background-color: #FFFFEE;
}
body {
 margin: 3px;
 background-color: #FFFFEE;
 color: #336699;
 font-family: Arial,Helvetica,sans-serif;
 font-size: 16px;
}

a:link { color: #669999; }
a:visited { color: #003366; }
a:hover, a:active { color: #88BBBB; }

img.KaiRoLogo { border: 0px; height: 62px; width: 100px; }
div.KaiRoLogo { float: left; margin-right: 5px; }

#intro {
 clear: both;
}

#footer {
 margin-top: 1em;
 border-top: 1px solid #336699;
 color: #336699;
 font-size: 0.75em;
 text-align: right;
}

.errpagetext {
  font-size: 1.5em;
  margin: 2em;
  text-align: center;
}

@media screen and (max-width: 550px) {
 h1 {
  clear: both;
 }
}
h1 {
 font-size: 2em;
 font-weight: bold;
 text-align: center;
 margin: 0.5em 0em;
 color: #003366;
}

em, .em {
 font-weight: bold;
 color: #003366;
}
.dis {
 color: #666699;
 font-size: 0.85em;
}
th {
 font-weight: bold;
 font-size: 0.75em;
 color: #003366;
}
table.border {
 border-spacing: 0px;
 border-collapse: collapse;
 empty-cells: show;
 border-left: 1px solid #336699;
 border-top: 1px solid #336699;
}
table.widetbl {
 width: 100%;
 border-spacing: 0px;
 border-collapse: collapse;
 empty-cells: show;
 border-left: 1px solid #336699;
 border-top: 1px solid #336699;
}
table.widetbl th, table.widetbl td, table.border th, table.border td {
 border-bottom: 1px solid #336699;
 border-right: 1px solid #336699;
}
table.border td {
 padding-left: 3px;
 padding-right: 3px;
}
table.formula td {
 vertical-align: middle;
}
img { border: 0px; }
img.icon {
 border: 0px;
 vertical-align: bottom;
}
ul, ol { padding-left: 2em; }
ul li, ol li {  margin: 0 0 0.2em 0; }
ul.flatlist {
 list-style-type: none;
 margin: 0em;
 padding: 0px;
}
ul.flatlist li {
 margin: 0 0 0.2em 0;
 padding: 0px;
}
.small { font-size: 0.75em; }
.warn { color: red; }

p.float { text-align: justify; padding: 0px; margin: 0em 0em 1em 0em; }
p.help { font-size: 0.75em; font-style: italic; }
p.flat { border: 0px; margin: 0px; padding: 0px; }
sub { font-size: 57%; vertical-align: text-bottom; }
sup { font-size: 57%; vertical-align: text-top; }
