/* styles fpr L10n talk slides */

body {
  margin: 0px;
  padding: 3px;
  border: 0px;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 16px;
  color: black;
  background-color: white;
  
}

h1 {
  margin: 0.5em;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

h2 {
  margin: 0.5em;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

h3 {
  margin: 0.5em;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

h4 {
  margin: 0.5em;
  font-size: 19px;
  font-weight: bold;
  text-align: left;
}

div.explanation {
  margin: 1em;
  padding: 0.5em;
  border: 1px solid grey;
  background-color: #FFFFF8;
}

div.sample {
  margin: 1em;
  padding: 0px;
  border: 1px solid grey;
  background-color: #FFF8F8;
}

div.samplecontent {
  margin: 0px;
  padding: 0.5em;
  border: 0px;
  border-top: 1px solid grey;
  background-color: #F8F8FF;
}

p.sampledesc {
  margin: 0.5em;
  font-weight: bold;
}

p.forward {
  text-align: right;
  font-size: 0.75em;
  margin: 0em 1.5em;
}

span.hilite {
  font-weight: bold;
  color: #FF8080;
}

pre.border {
  border: 1px solid #FF8080;
  padding: 0.5em;
}

ul {
  padding-left: 1.2em;
}
li.plus {
  list-style-image:url("plus.png");
  margin: 0.5em 0;
}
li.minus {
  list-style-image:url("minus.png");
  margin: 0.5em 0;
}

ul.bugs > li {
  list-style-image:url("bug.png");
  margin: 0.5em 0;
}

ul.smalltree {
  margin: 0px;
  padding: 0px;
  border: 0px;
  margin: 0px 0px 0px 15px;
  font-size: 0.8em;
}

ul.smalltree > li {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
